<!DOCTYPE html>
<html>
<head>
  <title>AdaCooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="bg"><img src="/assets/kiwi_wallpaper.jpg">
</div>

<%= yield %>

</body>
</html>
